<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>发现问题</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="renderer" content="webkit" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-orientation" content="portrait" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="css/libs.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>

  <body class="inspect-find">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">发现问题</h1>
    </header>
    <div class="mui-content" id="inspectFind">
      <section class="super">
        <h2 class="hyy-h2 hyy-bottom-border"><i></i><span>治水大类</span></h2>
        <div class="input-group">
          <div class="mui-input-row mui-checkbox" v-for="(item, index) in proList">
            <input name="radio1" :value="item.main_pro_id" type="radio" :id="'c' + index" v-model="main_pro">
            <label class="hyy-radius-20" :for="'c' + index" v-text="item.main_pro_nm"></label>
          </div>
        </div>
      </section>
      <section class="sub" v-if="main_pro">
        <h2 class="hyy-h2 hyy-bottom-border"><i></i><span>治水子类</span></h2>
        <div class="input-group">
          <div class="mui-input-row mui-checkbox" v-for="(item, index) in subList" >
            <input name="radio2" :value="item.sub_pro_id" type="radio" :id="'c_2' + index" v-model="sub_pro">
            <label class="hyy-radius-20" :for="'c_2' + index" v-text="item.sub_pro_nm"></label>
          </div>
        </div>
      </section>
      <section class="img">
        <h2 class="hyy-h2 hyy-bottom-border"><i></i>请上传照片</h2>
        <div class="imgs-group">
          <div class="img-wrapper item" v-for="(img, index) in imgsArr" @click="deleteImg(index)">
            <img :src="img"/>
            <div class="mask"></div>
          </div>
          <label for="addImg" class="item">
            <input type="file" @change="imgsChange" multiple="multiple" ref="fileInput" name="addImg" id="addImg" accept="image/png,image/jpg,image/jpeg,image/bmp,image/gif"/>
          </label>
        </div>
        <p class="hyy-font-info tip">上传照片 最多5张</p>
      </section>
      <section class="des">
        <h2 class="hyy-h2 hyy-bottom-border"><i></i>问题描述</h2>
        <textarea class="hyy-font-info" name="" placeholder="请输入巡河相关的具体描述……" v-model="descript"></textarea>
      </section>
      <div class="btns-group">
        <button type="button" class="mui-btn mui-btn-blue hyy-radius-20" @click="submit">问题记录</button>
        <button type="button" class="mui-btn mui-btn-blue hyy-radius-20">上报上级</button>
        <!--<button type="button" class="mui-btn mui-btn-blue hyy-radius-20">保存</button>-->
      </div>
    </div>
  </body>
  <script src="js/libs.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  	var vmFind = new Vue({
  	  el: '#inspectFind',
  	  data: {
  	    apiPath: 'http://192.168.0.236:3000/',
  	    main_pro: '',
  	    sub_pro: '',
  	    patrolid: '123456',
  	    fileArr: [],
  	    imgsArr: [],
        formData: null,
        imgsNameArr: [],
        descript: '',
        formData: '',
        proList: []
  	  },
  	  computed: {
  	    subList: function () {
  	      var length = this.proList.length
  	      for (var i = 0; i < length; i++) {
  	        if (this.proList[i].main_pro_id == this.main_pro) {
  	          return this.proList[i].sub_pro
  	        }
  	      }
  	    }
  	  },
  	  methods: {
  	    askProblem: function () {
  	      var self = this
  	      mui.post(this.apiPath + 'get_matter_type', {
  	        u_id: '123456'
  	      },
  	      function (res) {
  	        if (res.code == 0) {
  	          self.proList = res.data
  	          console.log(self.proList)
  	        }
  	      })
  	    },
        imgsChange: function () {
          var file = this.$refs.fileInput.files[0]; 
          if(!/image\/\w+/.test(file.type)){ 
              alert("文件必须为图片！"); 
              return false; 
          }
          for (var index = 0; index < this.$refs.fileInput.files.length; index++) {
            var file = this.$refs.fileInput.files[index];
            // 重复监测
            if(this.imgsNameArr.indexOf(file.name) >= 0) {
              continue
            }
            var reader = new FileReader(); 
            reader.readAsDataURL(file); 
            (function (index) {
              reader.onload = function(e){
                // 数量监测
                if(vmFind.imgsNameArr.length >= 5) {
                  alert('请上传不超过5张')
                  return 
                }
                vmFind.imgsArr.push(this.result)
                vmFind.fileArr.push(vmFind.$refs.fileInput.files[index])
                vmFind.imgsNameArr.push(vmFind.$refs.fileInput.files[index].name)
              } 
            })(index)
          }
        },
        deleteImg: function (index) {
          this.$refs.fileInput.value = ''
          this.imgsArr.splice(index,1)
          this.fileArr.splice(index,1)
          this.imgsNameArr.splice(index,1)
        },
        submit:function () {
          if (!this.main_pro) {
            alert('请选择类别')
            return
          }
          if (!this.sub_pro) {
            alert('请选择类别')
            return
          }
          if (this.fileArr.length == 0) {
            alert('请上传图片')
            return
          }
          if (!this.descript) {
            alert('请填写描述')
            return
          }
          if (this.fileArr.length == 0 || !this.descript) {
            alert('请填写全部内容')
          }
          this.formData.append('patrolid', this.patrolid)
          this.formData.append('main_pro', this.main_pro)
          this.formData.append('sub_pro', this.sub_pro)
          for (var j = 0; j < this.fileArr.length ; j++) {
            this.formData.append('img', this.fileArr[j])
          }
          this.formData.append('descript', this.descript)
          this.formData.append('time', new Date().getTime())
          console.log(this.formData)
          mui.ajax(this.apiPath + 'send_matter', {
            data: this.formData,
            type: 'post',
            processData: false,
            contentType: false,
            success: function (res) {
              if (res.code == 0) {
                alert('上传完毕')
              }
            }
          })
          this.formData = new FormData()
        }
  	  },
  	  created: function () {
  	    this.formData = new FormData()
  	    this.askProblem()
  	  }
  	})
  </script>
</html>